<footer>
  <% if params[:controller].include? 'admin' %>
    <p>Copyright &copy; 2060, rBlog | <%= link_to 'Home', root_path %></p>
  <% else %>
    <p>Copyright &copy; 2060, rBlog | <%= link_to 'Admin', admin_posts_path %></p>
  <% end %>
</footer>
