
<div class="row">
  <div class="col-md-6">
    <div class="post">
      <%= image_tag 'Rails_small' %>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by <a href="#">Shibabu</a> on April 27th 2015</small>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <%= image_tag 'Rails_small' %>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by <a href="#">Shibabu</a> on April 27th 2015</small>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="post">
      <%= image_tag 'Rails_small' %>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by <a href="#">Shibabu</a> on April 27th 2015</small>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <%= image_tag 'Rails_small' %>
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by <a href="#">Shibabu</a> on April 27th 2015</small>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
